.my-table {
    td {
        width: 25%;

        img {
            height: 150px;
        }

        i {
            font-size: 26px;
            display: block;
            margin: 10px 0;   
        }
    }
}